[submodule "themes/solitude-kai"]
	path = themes/solitude-kai
	url = https://github.com/Qiu-Quanzhi/hexo-theme-solitude-kai.git
	branch = stable
[submodule "source/fonts/MiSansVF"]
	path = source/fonts/MiSansVF
	url = https://github.com/Qiu-Quanzhi/MiSansVF.git
