.header-anchor{
    position: absolute;
    margin-left: .5rem !important;
    color: hsla(225deg,15%,90%,0.32) !important;
    opacity: 0 !important;
    transition: color .25s, opacity 125ms !important;
    border: none !important;
    transform: translateY(-2.5px) !important;
    background: none !important;
}

.header-anchor:before{
    content: "¶"
}

h1, h2, h3, h4, h5, h6 {
    >.header-anchor:focus, &:hover>.header-anchor, &:target>.header-anchor{
        opacity: 1 !important;
        background: none !important;
        color: #6cf !important;
    }
}

li:before {
    font-weight: bolder;
}